#cuadro-1{
    background-color: red;
    height: 200px;
    width: 500px;
}
#cuadro-2{
    background-color: blue;
    height: 200px;
    width: 500px;
}
#cuadro-3{
    background-color: yellow;
    height: 200px;
    width: 500px;
}
#cuadro-4{
    background-color: green;
    height: 200px;  
    width: 500px;
}
.oculto{
    display: none;
}
.cuadro{
    opacity: 0.5;
    transition: opacity 500ms;
}
